<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<h1 th:text="Registro">form</h1>
<form action="#"  th:action="@{/afegirAnimal}"  th:object="${Animal}" method="POST" >
  <div>
    <label th:text="Name">Nom Animal</label>
    <input type="text" id="username" th:field="*{nomAnimal}"/>
    <p th:each="error: ${#fields.errors('nomAnimal')}"
       th:text="${error}">Validation error</p>
  </div>
  <div>
    <label th:text="colorAnimal">Color Animal</label>
    <input type="text"  th:field="*{colorAnimal}"/>
    <p th:each="error : ${#fields.errors('colorAnimal')}"
       th:text="${error}">Validation error</p>
  </div>
  <button type="submit" th:text="Submit">submit</button>
</form>
</br>
</br>
</br>
</br>
<form th:action="@{/logout}" method="post">
  <input type="submit" value="Sortir (Sign Out)"/>
</form>
</body>
</html>