<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Llistat</title>
</head>
<body>
<thead>

<tr>

  <th>Username</th>
  <th>Password</th>
  <th>Rol</th>
</tr></br>
</thead>
<tbody>
<tr th:each="Usuaris : ${llistaUsuaris}">
  <td th:text="${Usuaris.username}">id</td>
  <td th:text="${Usuaris.password}">Bla Bla Car</td>
  <td th:text="${Usuaris.rol}">bla@ole.com</td>
  </br>

</tr>
</tbody>
</table>
</br>
</br>
</br>
</br>
<form th:action="@{/logout}" method="post">
  <input type="submit" value="Sortir (Sign Out)"/>
</form>
</body>
</html>